/* Variables  */
@import './blocks/default.scss';
@import './blocks/endPage.scss';
@import './blocks/slider.scss';
@import './blocks/startPage.scss';
@import './blocks/gameOver.scss';
@import './normalize.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $bg-color;
    color: $main-color;
}



