.main-page {
  width: 100vw;
  height: 100vh;

  &__inner {
    width: 100%;
    height: 100%;
    color: #fff;
  }
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  text-transform: lowercase;

  @media (max-width: $screen-sm) {
    flex-direction: column;
  }

  &-content {
    flex: 1 0 auto;
  }
  

  &-gif,
  &-button {
      text-align: center;

      &__start {
        background-color: #000;
        color: #fff;
        cursor: pointer;
      }
    }
  
  &-footer {
    flex: 0 0 auto;

    .icons {
      &-network {
        display: flex;
        justify-content: center;

        li {
          list-style-type: none;
        }
        @media (max-width: $screen-sm) {

        &__yandex-music {
          position: absolute;
          bottom: 15%;
          right: 10px;
          img {
            width: 220px;
            height: 80px;
          }
        }
      }
      @media (max-width: $screen-ssm) {
        &__yandex-music {
          position: absolute;
          bottom: 12%;
          right: 10px;
          img {
            width: 160px;
            height: 60px;
          }
        }
      }
      }
    } 
  }
  
  @media (max-width: $screen-sm-max) {
    background-color: $bg-color;
    &-gif {
        padding-top: 15vh;
        margin-left: -80px;

        &__img {
          width: 100vw;
          height: 30vh;
        }
    }
    &-button {
      justify-content: center;
      padding-top: 14vh;
      display: flex;
      align-items: flex-end;


      &__start {
        @include text-style-roboto(22px, 24px);
        width: 68vw;
        height: 65px;
        border-radius: 12px;
        border: 1px solid #fff;
      }  
    }
    &-footer {
      &-inner {
        padding-bottom: 4vh;
      }
    }
    
    .icons {
      &-network {
        padding-top: 5vh;

        li+li{
          padding-left: 10vw;
        }
      }
    } 
  }

  @media (min-width: $screen-sml) and (max-width: $screen-sm-max) {
    .main {
      &-gif {
        padding-top: 5vh;
        img {
          width: 70vw;
          height: 50vh;
        }
      }

      &-button {
        padding-top: 5vh;

        &__start {
          width: 40vw;
        }
      }
    }

    .icons-network {
      padding-top: 8vh;

      li+li {
        padding-left: 7vw;
      }
    }
  }

  @media (min-width: $screen-md) and (max-width: $screen-md-max) {
    &-gif {
      margin-left: -50px;
      padding-top: 20vh;

      &__img {
        width: 60vw;
        height: 30vh;
      }
    }
    &-button {
      padding-top: 15vh;

      &__start {
        width: 30vw;
        height: 65px;
        border-radius: 12px;
        @include text-style-roboto(22px, 24px);
      }  
    }
    &-footer {
      height: 100%;
      &-inner {
        height: 100%;
        padding-bottom: 5vh;
      }
    }
    
    .icons {
      height: 100%;
      &-network {
        padding-right: 20px;
        width: fit-content;
        height: 100%;
        display: flex;
        gap: 50px;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;

        &__yandex-music {
          img {
            width: 220px;
            height: 80px;
          }
        }
      }
    } 
  }
  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    &-gif {
      padding-top: 15vh;
      margin-left: -50px;

      &__img {
        width: 45vw;
        height: 32vh;
      }
    }
    &-button {
      padding-top: 17vh;

      &__start {
        width: 20vw;
        height: 7vh;
        border-radius: 12px;
        @include text-style-roboto(24px, 32px)
      }  
    }
    &-footer {
      height: 100%;
      &-inner {
        height: 100%;
        padding-bottom: 5vh;
      }
    }
    
    .icons {
      height: 100%;
      &-network {
        padding-right: 20px;
        width: fit-content;
        height: 100%;
        display: flex;
        gap: 50px;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;

        &__yandex-music {
          img {
            width: 220px;
            height: 80px;
          }
        }
      }
    }  
  }
  @media (min-width: $screen-xl) {
    &-gif {
      padding-top: 15vh;
      margin-left: -50px;

      &__img {
        width: 40vw;
        height: 35vh;
      }
    }
    &-button {
      padding-top: 15vh;

      &__start {
        width: 330px;
        height: 70px;
        border-radius: 12px;
        @include text-style-roboto(32px, 40px);
      }  
    }
    &-footer {
      &-inner {
       height: 100%;
      }
    }
    
    .icons {
      height: 100%;
      &-network {
        padding-right: 20px;
        width: fit-content;
        height: 100%;
        display: flex;
        gap: 30px;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;

          img {
            width: 40px;
            height: 40px;
          }

          &__yandex-music {
            img {
              width: 220px;
              height: 80px;
            }
          }
        
      }
    }   
  }
  @media (min-width: $screen-mxl) {
    &-gif {
      padding-top: 15vh;
      margin-left: -50px;

      &__img {
        width: 40vw;
        height: 35vh;
      }
    }
    &-button {
      padding-top: 15vh;

      &__start {
        width: 450px;
        height: 90px;
        border-radius: 12px;
        @include text-style-roboto(40px, 46px);
      }  
    }
    &-footer {
      &-inner {
        height: 100%;
      }
    }
    
    .icons {
      height: 100%;
      img {
        width: 50px;
        height: 50px;
      }

      &-network {
        padding-right: 20px;
        width: fit-content;
        height: 100%;
        display: flex;
        gap: 30px;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;

        &__yandex-music {
          img {
            width: 220px;
            height: 80px;
          }
        }

        &__q {
          &-telegram {
            max-width: 44px !important;
            max-height: 44px !important;
          }
        }
      }
    }   
  }        
}

.donats {
  width: 250px;
  height: 50px;
  border:none;
  font-size: 28px;
  display: inline-block;

  @media(max-width: 1024px){
    font-size: 20px;
  }
}

.main-bottom-donats {
  padding: 0 0 1vh 0;

  @media(max-width: 1024px){
    padding: 0 0 4vh 0;
  }
}